<md-dialog aria-label="Edit credential">
    <form>
    <md-toolbar>
    <div class="md-toolbar-tools">
        <h2 ng-if="!isNew">Edit credential '{{credential.id}}'</h2>
        <h2 ng-if="isNew">Add credential</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close" ng-click="cancel()" type="button">
            <ng-md-icon icon="close" style="fill: rgba(255, 255, 255, 0.87);" size="24"></ng-md-icon>
        </md-button>
    </div>
    </md-toolbar>
    <md-dialog-content>
    <div layout="column">
        <md-input-container flex>
            <label>Id</label>
            <input ng-model="credential.id">
        </md-input-container>
        <md-input-container flex>
            <label>Username</label>
            <input ng-model="credential.username">
        </md-input-container>
        <md-input-container flex>
            <label>Password</label>
            <input type="password" ng-model="credential.password">
        </md-input-container>
    </div>    
    </md-dialog-content>
    <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="save(credential)" class="md-primary">
      Save
    </md-button>
    </div>
    </form>
</md-dialog>


